<app-header></app-header>
<div class="container">

      <div class="row">
                    <div class="col-md-12">
                      <div class="input-group input-group-lg">
                        <span class="input-group-text input-group-lg">بحث</span>
                      <input type="text" class="form-control">
                      </div>
                        <div class="table-wrap">
                            <table class="table table-striped">
                              <thead>
                                <tr>
                                  <th>الرقم</th>
                                  <th>رقم البطاقة</th>
                                  <th>تاريخ الاصدار</th>
                                  <th>الاسم واللقب</th>
                                  <th>نوع البطاقة</th>
                                  <th>العلبة</th>
                                  <th>الحالة</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row">1</th>
                                  <td>67890</td>
                                  <td>02/02/2012</td>
                                  <td>صدار توفيق</td>
                                  <td><span class="position in">جواز سفر</span></td>

                                  <td>CB-100</td>
                                  <td><span class="position in">موجود</span></td>

                                </tr>
    
                                <tr>
                                  <th scope="row">2</th>
                                  <td>12345</td>
                                  <td>02/08/2015</td>

                                  <td>بن زرهودة فلة</td>
                                  <td><span class="position id">بطاقة تعريف</span></td>

                                  <td>CB-2015-100</td>

                                  <td><span class="position out">خارج</span></td>
                                </tr>
                                <tr>
                                  <th scope="row">3</th>
                                  <td>12345</td>
                                  <td>02/12/2020</td>

                                  <td>بن حاج أحمد</td>
                                  <td><span class="position perm">رخصة سياقة</span></td>

                                  <td>CB-2020-100</td>

                                  <td><span class="position out">خارج</span></td>
                                </tr>
    
    

    
                                
                              </tbody>
                            </table>
                        </div>
                    </div>
                </div>
              </div>















         





