<app-header></app-header>
      <div class="row">
                    <div class="col-md-12">
                        <div class="table-wrap">
                            <table class="table table-striped">
                              <thead>
                                <tr>
                                  <th>الرقم</th>
                                  <th>رقم التسجيل</th>
                                  <th>السنة</th>
                                  <th>الاسم واللقب</th>
                                  <th>العلبة</th>
                                  <th>الوضعية</th>
                                  <th>الحالة</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row">1</th>
                                  <td>67890</td>
                                  <td>2012</td>
                                  <td>صدار توفيق</td>
                                  <td>CG-100</td>
                                  <td><span class="position fc">مستوردة</span></td>
                                  <td><span class="position in">موجود</span></td>

                                </tr>
    
                                <tr>
                                  <th scope="row">2</th>
                                  <td>12345</td>
                                  <td>2008</td>

                                  <td>بن زرهودة فلة</td>
                                  <td>CG-2008-100</td>
                                  <td><span class="position in">داخل الولاية</span></td>

                                  <td><span class="position out">خارج</span></td>
                                </tr>
                                <tr>
                                  <th scope="row">3</th>
                                  <td>12345</td>
                                  <td>2020</td>

                                  <td>بن حاج أحمد</td>
                                  <td>CG-2020-100</td>
                                  <td><span class="position out">خارج الولاية</span></td>

                                  <td><span class="position out">خارج</span></td>
                                </tr>
    
    

    
                                
                              </tbody>
                            </table>
                        </div>
                    </div>
                </div>















         





