<app-header></app-header>
      <div class="row">
                    <div class="col-md-12">
                        <div class="table-wrap">
                            <table class="table table-striped">
                              <thead>
                                <tr>
                                  <th>الرقم</th>
                                  <th>رقم التسجيل</th>
                                  <th>الاسم واللقب</th>
                                  <th>العلبة</th>
                                  <th>الحالة</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row">1001</th>
                                  <td>Mark Otto</td>
                                  <td>Japan</td>
                                  <td>$3000</td>
                                  <td><a href="#" class="btn btn-success disabled">موجود</a></td>
                                </tr>
    
                                <tr>
                                  <th scope="row">1001</th>
                                  <td>Mark Otto</td>
                                  <td>Japan</td>
                                  <td>$3000</td>
                                  <td><a href="#" class="btn btn-danger disabled">خارج</a></td>
                                </tr>
    
    

    
                                
                              </tbody>
                            </table>
                        </div>
                    </div>
                </div>















         





