<app-header></app-header>

  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-6 pt-lg-4 order-4 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>الأرشيف الالكتروني لبلدية  أولاد يعيش</h1>
          <ul class="element">
            <li><span>التكفل بأرشيف البلدية، حفظه، ترتيبـه، تسييـره، ومتابعته والسهر عليه.</span></li>
            <li><span>جمع الوثائق القانونية التنظيمية واستغلالها ووضعها في متناول مصالح البلدية.</span></li>
            <li><span>تكوين بنك للوثائق وخاصة منها التي تمس بشكل كبير أو غير مباشر تسييـر مصالح البلدية خاصة والإدارة عامة.</span></li>
            <li><span>استغـلال الوثائـق والأرشيـف للقيـام بالـدراسـات والتحاليـل.</span></li>
            <li><span>تنسيق العلاقات مع مختلف المصالح الخارجية في مجال المحفوظات والوثائق.</span></li>
            </ul>

          
          
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="100">
          <img src="../../assets/img/archive.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>
</section>















         





